#stile {

    -fx-text-fill:red;

}

#pane2{

    -fx-background-color:#068300;
}
#pane1{
    -fx-background-color:#872811;
}

.label{
    -fx-border-style: solid;
}

#paneC1{
    -fx-background-color: #1E4E11;
}

#scP1{
-fx-background-color:#187024;
-fx-border-style-solid;

}

#scP2{

-fx-background-color:#187024;
-fx-border-style-solid;
}

#paF{

-fx-border-style-solid;


}